<body>
<h2>Leditaulu</h2>
<canvas id="myCanvas" width="600" height="450" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>
<br/>
Color: <input class="jscolor" id="color" value="ab2567">
<br/>
<button id="ledSync" type="button">Synkronoi</button>
</body>
<script src="jscolor.js"></script>
<script src="jquery-2.2.4.js"></script>
<script src="script.js"></script>
